@using Blogger.Pages
@using Blogger.Data
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="card-title mb-0">@Post.Title</h2>
                <button class="btn btn-secondary oi oi-eye" @onclick="ClickHide">
                </button>
            </div>
            <p class="card-text mt-2">
                @Post.Body
            </p>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Id : @Post.Id - User @Post.UserId</small>
    </div>
</div>


@code {

    [Parameter]
    public Post Post { get; set; }

    [Parameter]
    public EventCallback<int> HideClicked { get; set; }

    private void ClickHide()
    {
        HideClicked.InvokeAsync(Post.Id);
    }
}
